/* google font Mulish */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,500;0,600;0,700;0,800;0,900;0,1000;1,400&display=swap");
* {
  font-family: "Mulish", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --btnColor: #ff5400;
  --primaryColor: #131318;
  --secondaryColor: #fff;
  --descriptionColor1: rgba(19, 19, 24, 0.7);
  --descriptionColor2: #5a5a5d;
}

a {
  transition: 0.5s;
}
/* header section styles start */
header {
  max-width: 1280px;
  margin: 0 auto;
  height: calc(100vh - 30px);
}
/* navbar section style start */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0px;
}
.logo_box {
  display: flex;
  align-items: center;
}
.logo_box a {
  text-decoration: none;
}
.logo_box a:hover {
  transform: scale(1.1);
}
.logo {
  color: var(--primaryColor);
  font-size: 36px;
  font-weight: 800;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.travel {
  color: var(--btnColor);
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  font-size: 18px;
  list-style: none;
  margin-left: 30px;
}
nav ul li a {
  color: var(--descriptionColor2);
  text-decoration: none;
}
a.active,
a:hover {
  color: var(--btnColor);
}
.checkBtn {
  font-size: 30px;
  color: var(--primaryColor);
  float: left;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
/* navbar section styles end */
/* banner section style start */
.banner_section {
  /* border: 1px solid blue; */
  background-image: url(../Images/Group1.png);
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  margin-top: 40px;
}
.bg_opacity {
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.774));
  width: 100%;
  height: 100%;
  border-radius: 16px;
  display: flex;
  align-items: center;
}
.description_box {
  text-align: center;
  padding: 0px 150px;
}
.banner_title {
  color: var(--secondaryColor);
  font-size: 74px;
  font-weight: 800;
}
.description {
  color: var(--secondaryColor);
  text-align: center;
  line-height: 23px;
  padding: 40px 50px;
}
.find_container {
  height: 100px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  padding: 0px 60px;
}
.find_box {
  background-color: var(--secondaryColor);
  padding: 15px;
  height: 50px;
  width: 150px;
  border-radius: 5px;
  color: var(--descriptionColor1);
  display: flex;
  align-items: center;
}
.primary_btn {
  padding: 14.5px 50px 14.5px 14px;
  background-color: var(--btnColor);
  color: var(--secondaryColor);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s;
}
.primary_btn span {
  margin-right: 15px;
  font-size: 15px;
}
.primary_btn:hover {
  transform: scale(1.1);
}

/* responsive styles */
@media screen and (max-width: 858px) {
  .checkBtn {
    display: block;
  }
  header {
    padding: 0px 50px;
  }
  nav {
    flex-direction: row-reverse;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vb;
    background-color: rgba(255, 255, 255, 0.8);
    top: 85px;
    right: -100%;
    text-align: center;
    transition: all 0.5s;
    padding-top: 40px;
    flex-direction: column;
  }
  nav ul li {
    margin: 7px 0px;
    color: var(--secondaryColor);
  }
  #check:checked ~ ul {
    right: 0;
  }
}
